html, body {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: overlay;
    background: #eee;
    margin-top: 48px;
    overscroll-behavior-x: none;
    user-select: none;
}

body.dark-mode {
    background-color: #111;
    color: white;
}

.darkblue {
    background: #142d49 !important;
}

.lightblue {
    background: #79b9d5 !important;
}

.red {
    background: #e7334c !important;
}

input[type="radio"] {
    appearance: none;
    position: relative;
    cursor: pointer;
}

input[type="radio"]:before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 3px solid #e7334c;
    box-sizing: border-box;
}

input[type="radio"]:after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    left: 12px;
    top: 12px;
    background: #e7334c;
    transition: .2s;
}

input[type="radio"]:checked:after {
    width: 12px;
    height: 12px;
    left: 6px;
    top: 6px;
}

label {
    cursor: pointer;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-thumb {
    background: #bbb;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 50vh;
}