html, body {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: overlay;
    background: #eee;
    margin-top: 48px;
    overscroll-behavior-x: none;
    user-select: none;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-thumb {
    background: #bbb;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 50vh;
}